DB_URL=postgresql://ep-kjlkjkljtech/neondb?sslmode=require&user=neondb_owner&password=kljghjghjgj

SMTP_HOST = 
SMTP_PORT = 465
SMTP_USERNAME = 
SMTP_PASSWORD = 
EMAIL_FROM_NAME = 
EMAIL_FROM_ADDR = 
